/* root lets you make a set amount of colours to use as a colour 
palet but i mostly use it so i dont need to manulaly change all the colours if i want to change that 
colour */
:root {
  --black: #393737;
  --darkered: #b02a2a;
  --white: #e8e8e8;
  --deepred: #d43333;
  --red: #d53535;
}

* {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: #ffeded;
  font-family: Geneva, Tahoma, sans-serif;
}

h2 {
  font-size: 5rem;
  background: var(--red);
}

p {
  font-size: 2.4rem;
}

h3 {
  font-size: 4rem;
}

footer {
  background: var(--darkered);
  height: 200px;
  text-align: center;
}

#top-nav {
  background: var(--red);
  overflow: hidden;
  position: sticky;
  top: 0;
}

#top-nav a {
  float: left;
  color: var(--black);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#top-nav a:hover {
  background: var(--darkered);
  color: var(--white);
}

#top-nav a.active {
  background: var(--black);
  color: var(--white);
}

#title {
  text-align: center;
  font-size: 6rem;
  text-decoration: none;
  background: rgba(57, 55, 55, 0.92);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 1.5% 2.5%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: var(--white);
  border-radius: 10px;
}

#image-container {
  position: relative; /* Establishes the coordinate space for the text */
  display: inline-block;
  background-image: url("../images/pepperoni-pizza.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
}

#image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-bottom: 3%;
}

.flex-wrapper div {
  width: 30%;
}
